/* CSS for website */
body{
	
}

header{
	background-color: white;
}

main{
	
}

footer{
	background-color: #DCD0C0;
	color: black;
	text-align: center;
}

.home{
	background-color: ‎#ffffff;
}

.container{
	width: 1330px;
	background-color: white;
}

.home-2-col{
display: inline-block;
width: 528px;
margin-left: 10px;
margin-right: 10px;
vertical-align: top;
}

.home-3-col{
display: inline-block;
width: 337px;
margin-left: 20px;
vertical-align: top;
}

.home-3-col-dad{
	padding-top: 30px;
}

.home-big-pic{
	width: 100%;
}
.home-4-col{
display: inline-block;
width: 528px;
margin-left: 10px;
margin-right: 10px;
margin-top: 20px;
vertical-align: top;
}

.home-5-col{
display: inline-block;
width: 337px;
margin-left: 20px;
vertical-align: top;
}

.home-5-col-dad{
	padding-top: 30px;
}
.home-6-col{
display: inline-block;
width: 528px;
margin-left: 10px;
margin-right: 10px;
margin-top: 20px;
vertical-align: top;
}

.home-7-col{
display: inline-block;
width: 337px;
margin-left: 20px;
vertical-align: top;
}

.home-7-col-dad{
	padding-top: 30px;
}
.home-8-col{
display: inline-block;
width: 528px;
margin-left: 10px;
margin-right: 10px;
margin-top: 20px;
vertical-align: top;
}

.home-9-col{
display: inline-block;
width: 337px;
margin-left: 20px;
vertical-align: top;
}

.home-9-col-dad{
	padding-top: 30px;
}
.home-10-col{
display: inline-block;
width: 528px;
margin-left: 10px;
margin-right: 10px;
margin-top: 20px;
vertical-align: top;
}

.home-11-col{
display: inline-block;
width: 337px;
margin-left: 20px;
vertical-align: top;
}

.home-11-col-dad{
	padding-top: 30px;
}
.home-12-col{
display: inline-block;
width: 528px;
margin-left: 10px;
margin-right: 10px;
margin-top: 20px;
vertical-align: top;
}

.home-13-col{
display: inline-block;
width: 337px;
margin-left: 20px;
vertical-align: top;
}

.home-13-col-dad{
	padding-top: 30px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #DCD0C0;
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

<style>
body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #DCD0C0;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #DCD0C0;
  padding: 2px 16px;
  color: Black;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
</style>

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 1000%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 10px solid #ccc; /* Gray border */
  border-radius: 60px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 60px; /* Add a top margin */
  margin-bottom: 160px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #DCD0C0;
  color: DCD0C0;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #DCD0C0;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: ffffff;
  padding: 20px;
}